<section class="coach-page">
    <p class="page-title">EDIT COACH</p>

<form method="POST" action="/coach/update?_method=PUT" class="form">

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="nameCoach" value="<%= coach.nameCoach %>" class="form-control form-field">
    </div><br>

     <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="emailAddressCoach" value="<%= coach.emailAddressCoach %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Phone</label>
        <input type="text" name="phoneNumber" value="<%= coach.phoneNumber %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Region</label>
        <select name="region" class="form-control form-field">
            <% regions.forEach(function (region){ %>
                <option value="<%= region._id %>"> <%= region.nameRegion %> </option>
            <% })  %>
        </select>
    </div><br>


   <!-- // ADD CLUB AND REGION TO EDIT -->

    <input type="hidden" name="id" value="<%= coach._id %>" />

    <button type="submit" class="submit-button">Update coach</button>



</form>
</section>