
<section class="coach-page">
    <p class="page-title">CLUB</p>
    <div class="coach-row1">
        <!-- <div class="coach-column-photo">
            <img class="profile-picture"src="/images/avatar.jpeg" alt="" width="200px">
        </div> -->
        <div class="club-column">
            <h2 class="name"> <%= club.nameClub %></h2> <br>
            <p>Email: <%= club.emailAddressClub %></p>
            <p>Club Website: <%= club.linkClub %></p>
            <p>Region: <%= club.region.nameRegion %> </p>
            <p class="moment-class">Added: <%= moment(club.createdAt).fromNow() %></p>
            <p class="moment-class">Last Updated: <%= moment(club.updatedAt).fromNow() %></p>
            <a class="edit-button" href="/club/edit?id=<%= club._id %>">Edit profile</a>
        </div>
        
    </div>
    <br><br><br>
    <p class="page-title">OUR COACHES</p>
    <div class="training-plan">

        <% club.coach.forEach(function(coach) { %>
                <a href="/coach/detail?id=<%= coach._id %>"> <h3> <%= coach.nameCoach %> <span class="list-age">  </h3></a>
               
            <% }) %>

    </div>
    <br><br><br>
    
    <p class="page-title">UPCOMING EVENTS</p>
    <div class="training-plan">
        <p>List of Events go here</p>
    </div>
</section>

<br>

<!-- Clubs! -->


<!-- Training Plan -->
