<section class="club-page">
    <p class="page-title">EDIT CLUB</p>

<form method="POST" action="/club/update?_method=PUT" class="form">

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="nameClub" value="<%= club.nameClub %>" class="form-control form-field">
    </div><br>

     <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="emailAddressClub" value="<%= club.emailAddressClub %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Club Website</label>
        <input type="text" name="websiteClub" value="<%= club.websiteClub %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Region</label>
        <input type="text" name="region" value="<%= coach.region %>" class="form-control form-field">
    </div><br>

   <!-- // ADD CLUB AND REGION TO EDIT -->

    <input type="hidden" name="id" value="<%= club._id %>" />

    <button type="submit" class="submit-button">Update club</button>



</form>
</section>