
<section class="club-page">


    <h2 class="page-title"> CLUBS</h2>
    
    <table class="table table-striped">
        <tr>
            <th> Name</th>
            <th> Email</th>
            <th> Club Website </th>
            <th> Address </th>
            <!-- <th> Author</th> -->
            <!-- <th>Club</th> -->
            <!-- <th>Athletes</th> -->
            <!-- <th>Created at</th>
            <th>Updated at</th> -->
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
        <% clubs.forEach(function(club) { %>
        
        <tr>
            <td> <a href="/club/detail?id=<%= club._id %>"> <h3><%= club.nameClub %></h3> </a></td>
            <td> <%= club.emailAddressClub %></td>
            <td> <%= club.websiteClub %></td>
            <td> <%= club.address %></td>
            
            <!-- <td> <%= moment(club.createdAt).fromNow() %></td>
            <td> <%= moment(club.updatedAt).fromNow() %></td> -->
    
            <td><a href="/club/edit?id=<%= club._id %>">Edit</a></td>
            <td><a href="/club/delete?id=<%= club._id %>">Delete</a></td>
            <!-- <td>
            <form method="POST"action="/club/delete?id=<%= club._id %>&_method=DELETE">
                <button type="submit">Delete</button></form></td> -->
        </tr>
        <% }) %>
    </table>
    
    </section>