<section class="coach-page">
        <p class="page-title">ATHLETE</p>

        <div class="coach-row1">
        <div class="coach-column-photo">
            <img class="profile-picture"src="/images/avatar.jpeg" alt="" width="200px">
        </div>
        <div class="coach-column">
            <h2 class="name">  <%= athlete.nameAthlete %> </h2> <br>
            <p>Email: <%= athlete.emailAddress %> </p>
            <p>Gender:  <%= athlete.gender %> </p>
            <p>Age: <%= moment().diff(athlete.dateOfBirth, 'years') %> years old </p> </p>
            <p>Region: <%= athlete.region.nameRegion %> </p>
            <p>Club: <%= athlete.club %> </p>
            <p>Coach: <a href="../coach/detail?id=<%= athlete.coach.nameCoach %> "></a></p>
            <p class="moment-class">Created: <%= moment(athlete.createdAt).fromNow() %></p>
            <p class="moment-class">Last Updated: <%= moment(athlete.updatedAt).fromNow() %></p>
            <a class="edit-button" href="/athlete/edit?id=<%= athlete.id %>">Edit profile</a>
        </div>
        <div class="coach-column">
            <h2 class="name">PBs</h2>
        </div>
    </div>
    <br><br><br>
    <p class="page-title">PERFORMANCES</p>
    <div class="training-plan">
        <p>Performances go here</p>
    </div>
    <br><br><br>
    <p class="page-title">EVENTS</p>
    <div class="training-plan">
        <p>All Events go here</p>
    </div>


</section>

<!-- <div>
    <div>
        <h3> <%= athlete.nameAthlete %> </h3>
    </div>

    <div> Email Address: <%= athlete.emailAddress %> </div>
    <div> Gender: <%= athlete.gender %> </div>
    <div> Age: <%= athlete.dateOfBirth %> </div>
    <div> Club: <%= athlete.club %> </div>
    <div> Coach: <%= athlete.nameCoach %> </div>
    <div> Event: <%= athlete.event %> </div>
    <div> Event: <%= athlete.region %> </div>
    <div> Created At: <%= moment(athlete.createdAt).fromNow() %> </div>

    <br>


    <% athlete.event.forEach(function(event) { %>

    <hr /> -->
    <!-- <div> - I may need to delete this later.
        <div> Event: <%= event.event %></div>
        <div> Distance: <%= race.distance %></div>
    </div>
  <% }) %> 
</div> -->