<h1> Athletes </h1>

<table class="table table-striped">
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email Address </th>
        <th> Gender </th>
        <th> Date of Birth </th>
        <th> Club </th>
        <th> Coach </th>
        <th> Event </th>
        <th> Created At </th>
        <th> Updated At </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>

    <% runners.forEach(function(runner) { %>

        <tr>
            <td><a href="/runner/detail?id=<%= runner._id %>"> <%= runner.name %> </a> </td>
            <td><%= runner.emailAddress %></td>
            <td><%= runner.club %></td>
            <td><%= moment(runner.createdAt).fromNow() %></td>

            <td><a href="/runner/edit?id=<%= runner.id %>"> Edit </a> </td>
            <td><a href="/runner/delete?id=<%= runner.id %>"> Delete </a> </td>
        </tr>
    <% }) %>
</table>