<section class="coach-page">
   <p class="page-title">EDIT ATHLETE</p> 


   <form method="POST" action="/athlete/update?_method=PUT" class="form">

    <div class="form-group">
        <label>Name</label>
        <input  class="form-control form-field" name="nameAthlete" type="text" value="<%= athlete.nameAthlete %>" />
    </div><br>

    <div class="form-group">
        <label>Email Address</label>
        <input  class="form-control form-field" name="emailAddress" value="<%= athlete.emailAddress %>" />
    </div><br>

    <div class="form-group">
        <label>Gender</label>
        <input class="form-control form-field" name="gender" type="text" value="<%= athlete.performance %>" />
    </div><br>

    <div class="form-group">
        <label>Date of Birth</label>
        <input class="form-control form-field" name="dateOfBirth" type="date" value="<%= athlete.dateOfBirth %>" />
    </div><br>


    <div class="form-group">
        <label>Club</label>
        <input class="form-control form-field" name="club" type="text" value="<%= athlete.club %>" />
    </div><br>

    <div class="form-group">
        <label>Coach</label>
        <input class="form-control form-field" name="nameCoach" type="text" value="<%= athlete.nameCoach %>" />
    </div><br>

    <div class="form-group">
        <label>Event</label>
        <input  class="form-control form-field" name="event" type="text" value="<%= athlete.event %>" />
    </div><br>

    <div class="form-group">
        <label for="">Region</label>
        <select name="region" class="form-control form-field">
            <% regions.forEach(function (region){ %>
                <option value="<%= region._id %>"> <%= region.nameRegion %> </option>
            <% })  %>
        </select>
    </div><br>

    <input type="hidden" name="id" value="<%= athlete._id %>" />

    <button type="submit" class="submit-button"> Update Athlete </button>

</form>

</section>



