<section class="coach-page">
<h2 class="page-title"> ATHLETES</h2>

<table class="table table-striped">
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Gender </th>
        <th> Age </th>
        <th> Club </th>
        <th> Coach </th>
        <th> Event </th>
        <th> Region </th>
        <!-- <th> Created At </th>
        <th> Updated At </th> -->
        <th> Edit </th>
        <th> Delete </th>
    </tr>

    <% athletes.forEach(function(athlete) { %>

        <tr>
            <td><a href="/athlete/detail?id=<%= athlete._id %>"> <%= athlete.nameAthlete %> </a> </td>
            <td><%= athlete.emailAddress %></td>
            <td><%= athlete.gender %></td>
            <td><%= moment().diff(athlete.dateOfBirth, 'years') %> years</td>
            <td><%= athlete.club %></td>
            <td><a href="/coach/detail?id=<%= coach._id %>"><%= athlete.coach.nameCoach %></td>
            <td><%= athlete.event %></td>
            <td><%= athlete.region.nameRegion %></td>
            <!-- <td><%= moment(athlete.createdAt).fromNow() %></td>
            <td><%= moment(athlete.updatedAt).fromNow() %></td> -->

            <td><a href="/athlete/edit?id=<%= athlete.id %>"> Edit </a> </td>
            <td><a href="/athlete/delete?id=<%= athlete.id %>"> Delete </a> </td>
        </tr>
    <% }) %>
</table>


</section>
