<section class="coach-page">
<h2 class="page-title"> ATHLETES</h2>

<!-- SEARCH -->

   <form action="/athlete/search" method="POST">
        <div class="form-group search-form">
            
            <input placeholder="Search by Athlete Name" type="text" name="nameAthlete"  class="form-control form-field search-field">
        
        <button type="submit" class="search-button">Search</button>
        </div>
    </form><br>

    <!-- End of SEARCH -->

<table class="table table-striped">
    <tr>
        <th> Name </th>
        <th> Gender </th>
        <th> Age </th>     
        <th> Coach </th>
        <th> Region </th>
    </tr>

    <% athletes.forEach(function(athlete) { %>

        <tr>
            <td><a href="/athlete/detail?id=<%= athlete._id %>"> <h3> <%= athlete.nameAthlete %> </h3></a> </td>
            <td><%= athlete.gender %></td>
            <td><%= moment().diff(athlete.dateOfBirth, 'years') %> years</td>
            <td><%= athlete.coach.nameCoach %></td>
            <td><%= athlete.region.nameRegion %></td>
        </tr>
    <% }) %>
</table>

</section>
