<section class="event-page">
    <p class="page-title">EDIT EVENT</p>

<form method="POST" action="/event/update?_method=PUT" class="form">

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="nameEvent" value="<%= event.nameEvent %>" class="form-control form-field">
    </div><br>

     <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="emailAddressEvent" value="<%= event.emailAddressEvent %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Date</label>
        <input type="date" name="dateEvent" value="<%= event.dateEvent %>" />
    </div><br>

     <div class="form-group">
        <label for="">Region</label>
        <input type="text" name="region" value="<%= event.region %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Address</label>
        <input type="text" name="addressEvent" value="<%= event.addressEvent %>" class="form-control form-field">
    </div><br>

    <div class="form-group">
        <label for="">Athlete</label>
        <input type="text" name="athlete" value="<%= event.athlete %>" class="form-control form-field">
    </div><br>


   <!-- // ADD CLUB AND REGION TO EDIT -->

    <input type="hidden" name="id" value="<%= event._id %>" />

    <button type="submit" class="submit-button">Update event</button>



</form>
</section>