<section class="coach-page">
    <h2 class="page-title"> EVENT </h2>
    
    <table class="table table-striped">
        <tr>
            <th> Name </th>
            <th> Contact Email </th>
            <th> Date </th>
            <th> Address </th>
            <th> Region </th>

            <th> Edit </th>
            <th> Delete </th>
        </tr>
    
        <% events.forEach(function(event) { %>
    
            <tr>
                <td><a href="/event/detail?id=<%= event._id %>"> <%= event.nameEvent %> </a> </td>
                <td><%= event.emailAddressEvent %></td>
                <td><%= event.dateEvent %></td>
                <td><%= event.addressEvent %></td>
                <td><%= event.region %></td>
    
                <td><a href="/event/edit?id=<%= event.id %>"> Edit </a> </td>
                <td><a href="/event/delete?id=<%= event.id %>"> Delete </a> </td>
            </tr>
        <% }) %>
    </table>
    
    
    </section>
    