
<section class="coach-page">
    <p class="page-title">COACH</p>
    <div class="coach-row1">
        <div class="coach-column-photo">
            <img class="profile-picture" src="..<%= coach.image %>" alt="" width="200px" height="200px">
        </div>
        <div class="coach-column">
            <h2 class="name"> <%= coach.nameCoach %></h2> <br>
            <p>Email: <%= coach.emailAddressCoach %></p>
            <p>Phone Number: <%= coach.phoneNumber %></p>
            <p>Region: <%= coach.region.nameRegion %></p>
            <p class="moment-class">Created: <%= moment(coach.createdAt).fromNow() %></p>
            <p class="moment-class">Last Updated: <%= moment(coach.updatedAt).fromNow() %></p>
            <!-- Edit Delete Buttons -->
            <% if(currentUser) { %>

            <% if(currentUser._id.toString() === coach.user.toString()) { %> 
              
                 <p><a class="edit-button" href="/coach/edit?id=<%= coach.id %>"> Edit </a> </p>
                 <p><a class="edit-button" href="/coach/delete?id=<%= coach.id %>"> Delete </a> </p>

                 <% } else if(currentUser._id !== coach.user) { %>
                    <p>logged in but not user</p>

            <% } %>
        <% } %>

        </div>
        <div class="coach-column">
            <p class="name">Club Information</p>
            <% coach.club.forEach(function(club) { %>
                <p>Club: <%= club.nameClub %> </p>
                <p>Email: <%= club.emailAddressClub %> </p>
                <p>Website: <%= club.websiteClub %> </p>
             <% }) %>
            
        
        
            
            
        </div>
    </div>
    <br><br><br>
    <p class="page-title">TRAINING PLAN</p>


   <div class="training-plan">

        <!-- Attempt training plan add -->
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Mon </th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
                <th></th>
            </tr>
            
            <tr>
                <form method="POST" action="/trainingPlan/add"> 
                <td><input class="training-field" type="text" name="name" id=""></td>
                <td><input class="training-field" type="text" name="monday" id=""></td>
                <td><input class="training-field" type="text" name="tuesday" id=""></td>
                <td><input class="training-field" type="text" name="wednesday" id=""></td>
                <td><input class="training-field" type="text" name="thursday" id=""></td>
                <td><input class="training-field" type="text" name="friday" id=""></td>
                <td><input class="training-field" type="text" name="saturday" id=""></td>
                <td><input class="training-field" type="text" name="sunday" id=""></td>
                <td><button class="performance-submit" type="submit"  id="">Add</button></td>
                    <input type="hidden" name="coachId" value="<%= coach._id %>">
                </form>
            </tr>
            <!-- for each goes here? -->
            <% coach.trainingPlan.forEach(function(trainingPlan) { %>
            <tr>
                <td> <%= trainingPlan.name %> </td>
                <td> <%= trainingPlan.monday %> </td>
                <td> <%= trainingPlan.tuesday %> </td>
                <td> <%= trainingPlan.wednesday %> </td>
                <td> <%= trainingPlan.thursday %> </td>
                <td> <%= trainingPlan.friday %> </td>
                <td> <%= trainingPlan.saturday %> </td>
                <td> <%= trainingPlan.sunday %> </td>
                <td><a href="/trainingPlan/delete?id=<%= trainingPlan._id %>">Delete</a></td>
            </tr>
            <% }) %>
                
        </table>

    </div>
    <br><br><br>
    <p class="page-title">ATHLETES</p>
    <div class="training-plan">
        <p>List of Athletes go here</p>
        
            <% coach.athlete.forEach(function(athlete) { %>
                <a href="/athlete/detail?id=<%= athlete._id %>"> <h3> <%= athlete.nameAthlete %> <span class="list-age"> Age: <%= moment().diff(athlete.dateOfBirth, 'years') %></span>  </h3></a>
               
            <% }) %>
        

    </div>


    <!--  new one: -->
    
    <br><br><br>
    <p class="page-title">EVENTS</p>
    <div class="training-plan">
        <p>All Events go here</p>
    </div>
</section>







<!-- Clubs! -->


<!-- Training Plan -->
