
<h2> <%= coach.nameCoach %></h2>

<div>
    Email: <%= coach.emailAddressCoach %>
</div>

<div>
    Phone Number: <%= coach.phoneNumber %>
</div>

<div>
    Region: <%= coach.region %>
</div>


<div>
    Created at: <%= moment(coach.createdAt).fromNow() %>
</div>
<div>
    Updated at: <%= moment(coach.updatedAt).fromNow() %>
</div>
<br>

<!-- Clubs! -->


<!-- Training Plan -->
