
<section class="coach-page">
    <p class="page-title">COACH</p>
    <div class="coach-row1">
        <div class="coach-column-photo">
            <img class="profile-picture" src="..<%= coach.image %>" alt="" width="200px" height="200px">
        </div>
        <div class="coach-column">
            <h2 class="name"> <%= coach.nameCoach %></h2> <br>
            <p>Email: <%= coach.emailAddressCoach %></p>
            <p>Phone Number: <%= coach.phoneNumber %></p>
            <p>Region: <%= coach.region.nameRegion %></p>
            <p class="moment-class">Created: <%= moment(coach.createdAt).fromNow() %></p>
            <p class="moment-class">Last Updated: <%= moment(coach.updatedAt).fromNow() %></p>
            <a class="edit-button" href="/coach/edit?id=<%= coach._id %>">Edit profile</a>
        </div>
        <div class="coach-column">
            <p class="name">Club Information</p>
            <% coach.club.forEach(function(club) { %>
                <p>Club: <%= club.nameClub %> </p>
                <p>Email: <%= club.emailAddressClub %> </p>
                <p>Website: <%= club.websiteClub %> </p>
             <% }) %>
            
            <a class="edit-button" href="/club/add">Add Club</a>
            
            
        </div>
    </div>
    <br><br><br>
    <p class="page-title">TRAINING PLANS</p>
    <div class="training-plan">
        <p>Training plans go here</p>
    </div>
    <br><br><br>
    <p class="page-title">ATHLETES</p>
    <div class="training-plan">
        <p>List of Athletes go here</p>
        
            <% coach.athlete.forEach(function(athlete) { %>
                <a href="/athlete/detail?id=<%= athlete._id %>"> <h3> <%= athlete.nameAthlete %> <span class="list-age"> Age: <%= moment().diff(athlete.dateOfBirth, 'years') %></span>  </h3></a>
               
            <% }) %>
        

    </div>
</section>





<br>

<!-- Clubs! -->


<!-- Training Plan -->
