
<section class="coach-page">


<h2 class="page-title"> COACHES</h2>

<table class="table table-striped">
    <tr>
        <th> Name</th>
        <th> Email</th>
        <th> Phone Number</th>
        <th> Region </th>
        <!-- <th> Author</th> -->
        <!-- <th>Club</th> -->
        <!-- <th>Athletes</th> -->
        <!-- <th>Created at</th>
        <th>Updated at</th> -->
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% coaches.forEach(function(coach) { %>
    
    <tr>
        <td> <a href="/coach/detail?id=<%= coach._id %>"> <h3><%= coach.nameCoach %></h3> </a></td>
        <td> <%= coach.emailAddressCoach %></td>
        <td> <%= coach.phoneNumber %></td>
        <td> <%= coach.region.nameRegion %></td>
       
        
        <!-- <td> <%= moment(coach.createdAt).fromNow() %></td>
        <td> <%= moment(coach.updatedAt).fromNow() %></td> -->

        <td><a href="/coach/edit?id=<%= coach._id %>">Edit</a></td>
        <td><a href="/coach/delete?id=<%= coach._id %>">Delete</a></td>
        <!-- <td>
        <form method="POST"action="/coach/delete?id=<%= coach._id %>&_method=DELETE">
            <button type="submit">Delete</button></form></td> -->
    </tr>
    <% }) %>
</table>

</section>