<section class="coach-page">
    <p class="page-title">EVENT</p>

    <div class="coach-row1">
    <div class="coach-column-photo">
        <img class="profile-picture"src="/images/avatar.jpeg" alt="" width="200px">
    </div>
    <div class="coach-column">
        <h2 class="name">  <%= event.nameEvent %> </h2> <br>
        <p>Email: <%= event.emailAddressEvent %> </p>
        <p>Date:  <%= moment(event.dateEvent).format('LL') %> </p>
        <p>Address: <%= event.addressEvent %> </p>

        <p class="moment-class">Created: <%= moment(event.createdAt).fromNow() %></p>
        <p class="moment-class">Last Updated: <%= moment(event.updatedAt).fromNow() %></p>
        <a class="edit-button" href="/event/edit?id=<%= event._id %>">Edit Event</a>
    </div>
</div>
<br><br><br>
<p class="page-title">Athletes</p>
<div class="training-plan">
    <p>M2M if no athletes are registered to this event, will always break</p>
</div>
<br><br><br>
<p class="page-title">PERFORMANCES</p>
<div class="training-plan">
    <p>All Performances go here</p>
</div>


</section>
