<section class="coach-page">
    <p class="page-title"> EVENT </p>

      <!-- SEARCH -->

   <form action="/event/search" method="POST">
        <div class="form-group search-form">
            
            <input placeholder="Search by Event Name" type="text" name="nameEvent"  class="form-control form-field search-field">
        
        <button type="submit" class="search-button">Search</button>
        </div>
    </form><br>

    <!-- End of SEARCH -->
    
    <table class="table table-striped">
        <tr>
            <th> Name </th>
            <th> Contact Email </th>
            <th> Date </th>
            <th> Address </th>
            <th> Region </th>

            <th> Edit </th>
            <th> Delete </th>
        </tr>
    
        <% events.forEach(function(event) { %>
    
            <tr>
                <td><a href="/event/detail?id=<%= event._id %>"> <%= event.nameEvent %> </a> </td>
                <td><%= event.emailAddressEvent %></td>
                <td><%= moment(event.dateEvent).format('LL') %></td>
                <td><%= event.addressEvent %></td>
                <td><%= event.region.nameRegion %></td>
    
                <td><a href="/event/edit?id=<%= event.id %>"> Edit </a> </td>
                <td><a href="/event/delete?id=<%= event.id %>"> Delete </a> </td>
            </tr>
        <% }) %>
    </table>
    
    </section>

    

